.weather-card {
  width: fit-content;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  color: rgb(102, 112, 133);
  box-shadow: rgb(16 24 40 / 30%) 0px 0.5px 2px;
  border-radius: 8px;
  padding: 5px;
  p {
    font-weight: 600;
    margin: 3px;
  }
  img {
    width: 130px;
  }
  .weather-temp {
    padding: 6px 12px;
    background: rgb(242, 244, 247);
    color: rgb(71, 84, 103);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
    text-align: center;
    margin-right: 8px;
  }
}
